/* RESET */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background-color: #fff;
      color: #333;
    }

    /* HEADER */
    header {
      background-color: #eb5b7a;
      padding: 20px;
    }

    .header-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }

    .logo {
      font-size: 36px;
      color: white;
      font-weight: bold;
    }

    .search-box input {
      padding: 15px 15px;
      width: 300px;
      border-radius: 20px;
      border: none;
      outline: none;
    }

    .user-actions {
      color: white;
      font-size: 14px;
      cursor: pointer;
    }

    /* MENU */
    nav {
      background-color: #fff;
      border-bottom: 2px solid #eb5b7a;
      text-align: center;
      padding: 8px;
    }

    nav a{
      color: #eb5b7a;
      text-decoration: none;
      margin: 0 40px;
      font-size: 1rem;
      padding: 10px;
      transition: 0.3s;
      font-size: 17.5px;
    }

   nav a:hover {
    text-decoration: underline;
   }

   /* CATEGORIAS */
    .categories {
      margin: 40px auto;
      display: grid;
      grid-template-columns: repeat(5, 140px); /* 5 colunas em cima */
      gap: 40px; /*espaço vertical*/
      justify-content: center;
      column-gap: 70px; /* espaço horizontal */
    }
    
    .category {
      cursor: pointer;
      display: flex ;
      flex-direction: column ;
      align-items: center ;
      text-align: center ;
    }

    .category a{
      color: #eb5b7a;
      text-decoration: underline;
      text-decoration: none;
      font-size: 16px;
      margin-top: 10px;
      font-weight: bold;
    }
   
    .category img {
      width: 140px; /* tamanho do círculo */
      height: 140px;
      border-radius: 50%;
      border: 4px solid #eb5b7a;
      object-fit: cover;
    }

    .category p {
      margin-top: 10px;
      font-weight: bold;
      color: #eb5b7a;
    }













    /* FOOTER */
    footer {
      background-color: #f7c1cc;
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }

    footer p {
      margin: 5px 0;
    }