/* RESET */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background-color: #fff;
      color: #333;
    }

    /* HEADER */
    header {
      background-color: #eb5b7a;
      padding: 20px;
    }

    .header-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }

    .logo {
      font-size: 36px;
      color: white;
      font-weight: bold;
    }

    .search-box input {
      padding: 15px 15px;
      width: 300px;
      border-radius: 20px;
      border: none;
      outline: none;
    }

    .user-actions {
      color: white;
      font-size: 14px;
      cursor: pointer;
    }

    /* MENU */
    nav {
      background-color: #fff;
      border-bottom: 2px solid #eb5b7a;
      text-align: center;
      padding: 8px;
    }

    nav a{
      color: #eb5b7a;
      text-decoration: none;
      margin: 0 40px;
      font-size: 1rem;
      padding: 10px;
      transition: 0.3s;
      font-size: 17.5px;
    }

   nav a:hover {
    text-decoration: underline;
   }

  
.banner img {
      width: -10px;
      height: 337.3px;
      margin-top: 0px;
    }

    /* Área dos produtos */
    .produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 por linha */
    gap: 25px;
    padding: 40px;
    }

    /* Card do produto */
    .card {
        background: white;
        width: 220px;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        text-align: center;
        transition: 0.3s;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    /* Imagem do produto */
    .card img {
        width: 100%;
        height: 180px;
        object-fit: contain;
        background: #eee;
        border-radius: 8px;
        padding: 10px;
    }

    /* Nome */
    .card h3 {
        font-size: 14px;
        margin: 10px 0;
        color: #333;
    }

    /* Preço */
    .preco {
        font-size: 18px;
        font-weight: bold;
        color: #e84c74;
        margin-bottom: 10px;
    }

    /* Botão */
    .card button {
        width: 100%;
        padding: 10px;
        background-color: #e84c74;
        border: none;
        border-radius: 20px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    .card button:hover {
        background-color: #d13b61;
    }






    /* FOOTER */
    footer {
      background-color: #f7c1cc;
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }

    footer p {
      margin: 5px 0;
    }